/* 点击过和未点击过的采取相同的样式 */
/* a:link - 正常，未访问过的链接
   a:visited - 用户已访问过的链接
   a:hover - 当用户鼠标放在链接上时
   a:active - 链接被点击的那一刻 */
   .btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        /* 分别给顶部和底部一个填充 */
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        /* CSS3 过渡是元素从一种样式逐渐改变为另一种的效果。要实现这一点，必须规定两项内容：
    指定要添加效果的CSS属性,指定效果的持续时间。 */
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
    }

    &:hover {
        /* 都是相对于初始状态 */
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
            /* 设置透明度 0:完全透明 ，1:完全不透明*/
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);

    }

    &--white {
        background-color: $color-white;
        color: $color-grey;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    /* 实现button的动画 
    添加了一个与button一样的元素，但是默认情况是被button所覆盖
    当鼠标hover到button时，通过缩放使得大小超过button到部分看见
    通过设置透明度为0实现演示的效果
*/

    /* CSS 伪元素是用来添加一些选择器的特殊效果。 */
    &::after {
        content: "";
        /* 必须包含此属性，尽管没有使用 */
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        /* z-index 属性指定一个元素的堆叠顺序, 根据大小显示优先级，所以该元素正常是藏在button后面的 */
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        /* 设置动画 的name 和持续时间 必须设置name 和 duration属性*/
        animation-name: moveInBottom;
        animation-duration: .5s;
        animation-delay: 0.75s;
        /* animation-iteration-count: 3; */
        animation-timing-function: ease-out;
        /* 淡出淡入 */
        /* 但是我们会发现button会显示上去，然后消失再出现动画 */
        /* animation-fill-mode 属性规定当动画不播放时（当动画完成时，或当动画有一个延迟未开始播放时），要应用到元素的样式。 */
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
    }

    &:hover {
        background-color: $color-primary;
        color: white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}